:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  box-sizing: border-box;
}
p{
 margin: 0;
 padding: 0;
}
.IphoneData{
  background-color: black;
}
a {
  font-weight: 500;
  /* color: #646cff; */
  text-decoration: none;
}

ul {
  list-style: none;
padding-left: 0;
}
/* a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  padding: 0;
  min-width: 280px;
  min-height: 100vh;
  font-size: 16px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
